* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: medium;
    border-radius: 7px;
}

.header__box {
    background: yellowgreen;
    padding: 20px;
}

nav {
    background: green;
    padding: 5px;
}

aside {
    background: orange;
    height: 55vh;
    width: 22vw;
    display: inline-block;
    margin-bottom: 30px;
}

main {
    background: red;
    display: inline-block;
    height: 55vh;
    width: 47vw;
    margin: 43px;
    padding: 20px;
}

.label__main {
    color: white;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-left: 25px;
}

article {
    background: white;
    height: 8vh;
    width: 42vw;
    margin: 30px;
    padding: 20px;
}

footer {
    background: purple;
    padding: 20px;
}

.label_nav {
    color: white;
    margin-left: 20px;
}

.label_aside {
    color: white;
    text-align: center;
}

.label__footer {
    color: white;
    margin-left: 10px;
    padding-bottom: 10px;
}